header{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    color: $textColor;
    button{
        background: $primaryBtn;
        &::after{
            content:'Helloooo';
        }
    }
}
